/* Charts */







.price-data {
    position: absolute;
    top: -86px;
    font-size: 35px ;
    background-color: #ffffff;
}

.price-data-change {
    position: absolute;
    top: -41px;
    font-size: 13px;
    font-weight: 500;
    width: 700px;
    padding-bottom: 5px;
    background-color: #ffffff;
}

.time-data {
    position: absolute;
    top: -20px;
    width: 100px;
    color: #cbcbcd;
    font-size: 13px;
    font-weight: 400;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.recharts-tooltip-wrapper {
    transform: none !important;
    visibility: visible !important;
}

/* News */
.logged-in-page-news-list {
    width: 100%;
}

.logged-in-page-news-list > li {
    padding: 30px;
    margin-left: -30px;
    margin-right: -30px;
    overflow: visible;
    transition: background 150ms;
}

.logged-in-page-news-list > li > a{
    width: 100%;
    display: flex;
    text-decoration: none;
}

.logged-in-page-news-list > li:hover {
    background-color: #fafafa;
    border-radius: 5px;
    cursor: pointer;
}

.logged-in-page-news-content {
    max-width: 420px;
}

.logged-in-page-news-source {
    color: #171718;
    line-height: 2em;
    font-size: 13px;
    letter-spacing: 0.25px;
    font-weight: 400;
}

.logged-in-page-news-headline {
    color: #171718;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.logged-in-page-news-image {
    margin-right: 24px;
}

.logged-in-page-news-image {
    width: 195px;
    height: 135px;
    border-radius: 5px;
}

/* logged-in Page */
.logged-in-page-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    width: 1024px;
    margin: 0 auto;
    color: #171718;
}

.logged-in-page-content-container {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.logged-in-page-content-left-section {
    flex: 0 0 66.67%;
}

.logged-in-page-content-left-section h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 4px;
}

.logged-in-page-content-left-section h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.logged-in-page-content-left-section h4{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 28px;
}

.logged-in-page-timeframe-buttons {
    margin: 24px 0 0 0;
    border-bottom: 1px solid #f4f4f5;
}

button[class^="logged-in-page-timeframe-button"] {
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 0px;
    margin: 0 12px;
    border-bottom: 2px solid #ffffff;
}

button[id^="green-logged-in-page-timeframe"] {
    color: #21ce99;
    border-bottom: 2px solid #21ce99;    
}

button[id^="red-logged-in-page-timeframe"] {
    color: #f45531;
    border-bottom: 2px solid #f45531;    
}

.logged-in-page-timeframe-button-green:focus {
    color: #21ce99;
    border-bottom: 2px solid #21ce99;
}

.logged-in-page-timeframe-button-red:focus {
    color: #f45531;
    border-bottom: 2px solid #f45531;
}

button[class^="logged-in-page-timeframe-button"]:first-child {
    margin-left: 0;
}

.logged-in-page-timeframe-button-green:hover {
    color: #21ce99;
    cursor: pointer;
}

.logged-in-page-timeframe-button-red:hover {
    color: #f45531;
    cursor: pointer;
}

.logged-in-page-content-left-section h3 {
    font-size: 26px;
    font-weight: 500;
    padding: 44px 0 16px 0;
    border-bottom: 1px solid #f4f4f5;
}

.logged-in-page-content-left-section p {
    font-size: 16px;
    margin-right: 24px;
    margin-top:  24px;
    max-width: 570px;
    line-height: 22px;
}

.logged-in-page-content-left-section-first-list, .logged-in-page-content-left-section-second-list {
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
}

.logged-in-page-content-left-section-first-list span, .logged-in-page-content-left-section-second-list span {
    font-weight: 400;
}

.logged-in-page-content-left-section-first-list {
    padding-top: 18px;
}

.logged-in-page-content-left-section-second-list {
    padding-top: 12px;
}

.logged-in-page-content-left-section-first-list > li, .logged-in-page-content-left-section-second-list > li {
    width: 175px;
    line-height: 19px;
}