.logged-in-page-nav-bar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 44px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 1;
}

.logged-in-page-logo {
    margin-left: 50px;
    color: #171718;
}

.fa-feather:hover {
    color: #21ce99;
}

.logged-in-page-search-box-container {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #f4f4f5;
    border-radius: 5px;
    margin: 0;
    align-items: center;
    width: 480px;
    color: #cbcbcd;
    box-shadow: none;
    transition: box-shadow 150ms ease-out;
}

#search-box-with-results {
    border-bottom: 2px solid #ffffff;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 3px 24px rgba(48, 51, 51, 0.09);
}

.fa-search {
    font-size: 18px;
    margin-left: 20px;

}

.logged-in-page-search-box {
    display: flex;
    align-items: center;
    width: 480px;
}

.logged-in-page-search-input-field{
    margin: 0;
    border: none;
    padding: 10px;
    font-size: 13px;
}

.logged-in-page-search-input-field , ::placeholder {
    font-weight: 300;
}

.logged-in-page-search-box-container:focus-within {
    color: #171718;
}

.logged-in-page-search-box-container:focus-within .logged-in-page-search-input-field::placeholder {
    color: #171718;
}

.logged-in-page-search-box-container:hover {
    box-shadow: 0 3px 24px rgba(48, 51, 51, 0.09);
    color: #171718;
}

.logged-in-page-search-box:focus-within {
    box-shadow: 0 3px 24px rgba(48, 51, 51, 0.09);
    color: #171718;
}

.logged-in-page-search-box-container:hover .logged-in-page-search-input-field::placeholder {
    color: #171718;
}

.nav-bar-search-results {
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #171718;
    border: 1px solid #f4f4f5;
    border-top: none;
    border-radius: 0 0 5px 5px;
    width: 100%;
    box-shadow: 0px 24px 24px rgba(48, 51, 51, 0.09);
    visibility: hidden;
    opacity: 0;
    transition: visibility 150ms, opacity 150ms;
}

.logged-in-page-search-box-container:focus-within .nav-bar-search-results{
    visibility: visible;
    opacity: 1;
}

.nav-bar-search-results > h5 {
    color: #cbcbcd;
    padding: 5px 20px;
}

.nav-bar-search-results > a{
    color: #171718;
    text-decoration: none;
    padding: 5px 20px;
    display: flex;
}

.nav-bar-search-results > a:hover {
    background-color: #fafafa;
}

.nav-bar-search-results > a > span:first-child {
    width: 80px;
}

.nav-bar-search-results > a:last-child {
    padding-bottom: 15px;
}

.nav-bar-search-results > span {
    color: #171718;
    padding: 10px 20px 15px 20px;
}

.logged-in-page-nav-bar-right-section {
    margin-right: 30px;
    margin-left: 345px;
    display: flex;
}

.logged-in-page-nav-bar-button {
    padding: 15px 0;
    margin: 0 15px;
    border: none;
    border-bottom: 2px solid #ffffff;
    font-size: 13px;
    font-weight: 500;
}

.logged-in-page-nav-bar-button > a {
    text-decoration: none;
    color: #171718;
}

.logged-in-page-nav-bar-button > a:hover {
    color: #21ce99;
}

.logged-in-page-nav-bar-button:hover {
    cursor: pointer;
    color: #21ce99;
    text-decoration: none;
}

.logged-in-page-nav-bar-button:focus {
    outline: none;
}

.nav-bar-notifications-content {
    position: fixed;
    right: 60px;
    border: 1px solid #f4f4f5;
    box-shadow: 0 3px 24px rgba(48, 51, 51, 0.09);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 340px;
    font-weight: 400;
    opacity: 0;
    transition: visibility 200ms, opacity 200ms;
}

.logged-in-page-nav-bar-notifications:focus-within .nav-bar-notifications-content {
    visibility: visible;
    opacity: 1;
}

.logged-in-page-nav-bar-notifications:focus-within .logged-in-page-nav-bar-button {
    color: #21ce99;
    border-color: #21ce99;
}

.nav-bar-notifications-content > li {
    padding: 24px;
    letter-spacing: 0.5px;
}

.nav-bar-account-content {
    position: fixed;
    right: 40px;
    border: 1px solid #f4f4f5;
    box-shadow: 0 3px 24px rgba(48, 51, 51, 0.09);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 296px;
    font-weight: 400;
    visibility: hidden;
    opacity: 0;
    transition: visibility 200ms, opacity 200ms;
}

.logged-in-page-nav-bar-account:focus-within .nav-bar-account-content{
    visibility: visible;
    opacity: 1;
}

.logged-in-page-nav-bar-account:focus-within .logged-in-page-nav-bar-button {
    color: #21ce99;
    border-color: #21ce99;
}

.nav-bar-account-content:focus-within{
    visibility: visible;
}

.nav-bar-account-content > span:first-child {
    padding: 24px 24px 12px 24px;
    border-bottom: 1px solid #f4f4f5;
}

.nav-bar-account-content > span:nth-child(2){
    padding: 12px 24px 6px 24px;
}

.nav-bar-account-content > span:nth-child(3) {
    padding: 6px 24px 12px 24px;
    font-size: 13px;
    font-weight: 300;
    border-bottom: 1px solid #f4f4f5;
}

.nav-bar-account-content > span:nth-child(4) {
    padding: 12px 24px 12px 24px;
    display: flex;
    align-items: center;
}

.nav-bar-account-content > span:nth-child(4):hover {
    cursor: pointer;
    background-color: #fafafa;
}

.nav-bar-account-content i {
    font-size: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 1200px){
    .logged-in-page-nav-bar-right-section{
        margin-left: 10px;
    }
}
