.splash-page-container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: auto;
  font-family: 'Roboto', sans-serif;
}

.splash-page-nav-bar {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #ffffff;
}

.splash-page-nav-bar > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-bar-left-section {
  margin-left: 50px;
}

.nav-bar-right-section {
  margin-right: 50px;
}

.splash-page-nav-bar a, Link {
  padding: 15px 20px 15px 20px ;
  text-decoration: none;
}

.splash-page-nav-bar > .nav-bar-left-section > .logo-home-link {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
}

.fa-feather {
  font-size: 25px;
  margin-right: 10px;
}

.splash-page-dropdown {
  position: relative;
  width: 150px;
  text-align:center;
}

.splash-page-dropdown-button {
  border: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.splash-page-dropdown-button:hover {
  border-bottom: 3px solid #21ce99;
  cursor: pointer;
}

.splash-page-dropdown-content {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: -3px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s ease-in;
  box-shadow: 1px 1px 5px #f6f6f6;
}

.splash-page-dropdown:hover .splash-page-dropdown-content{
  opacity: 1;
  visibility: visible;
  
}

.splash-page-dropdown-content > button {
  border: none;
  padding: 10px;
  font-size: 14px;
}

.splash-page-dropdown-content > button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-bar-left-section a {
  font-weight: 700;
  color: #040D14;
}

.nav-bar-left-section > a:hover {
  text-decoration: underline;
  color: #21ce99;
}

.nav-bar-left-section > a:hover #fa-feather {
  text-decoration: none;
}

.splash-page-nav-bar > .nav-bar-left-section > a > .fa-feather:hover {
  text-decoration: none;
}

.splash-page-dropdown-button:hover {
  color: #040D14;
}

.nav-bar-right-section {
  font-weight: 700;
}

.splash-page-login-button{
  color: #040D14;
}

.splash-page-login-button:hover {
  color: #21ce99;
  text-decoration: underline;
}

.splash-page-signup-button {
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  border-radius: 27px;
  background-color: #21ce99;
  color: #FFFFFF;
  width: 56px;
}

.splash-page-signup-button:hover {
  text-decoration: underline;
}

.splash-page-content {
  display: flex;
  min-height: 100%;
  height: auto;
  min-width: 500px;
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.splash-page-content-right-section{
/*     background: url("splash_page_img.png"); */
/*     background-size: cover; */
    width: 65%;
    max-width: 200%;
    height: 100%;
    overflow: hidden;

/*     right: -80px; */
/*     height: 725px; */
    z-index: -1;
    animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.splash-page-img{
  width:100%;
}

.splash-page-content-left-section {
  display: flex;
  width: 35%;
  flex-direction: column;
  padding-top: 200px;
  margin-left: 50px;
}

.splash-page-content-left-section h1 {
  font-size: 42px;
  font-weight: 700;
  padding: 0px 0;
}

.splash-page-content-left-section p {
  margin: 40px 0;
  line-height: 2em;
}

.splash-page-content-left-section .splash-page-signup-button {
  color: #ffffff;
  font-weight: 500;
}

.splash-page-content-left-section a {
  margin-bottom: 15px;
  color: #21ce99;
  text-decoration: none;
  margin-top: 25px;
}

.splash-page-demo-button {
  background-color: #21ce99;
  outline: none;
  border:none;
  font-size: 16px;
  padding: 15px 20px 16px 20px;
  margin-left: 20px;
  border-radius: 27px;
  color: #ffffff;
  font-weight: 500;
}

.splash-page-demo-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

i {
  font-size: 12px;
  vertical-align: top;
}
